body{
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    background-repeat:inherit
}

.indi{
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.one{
    background-color: white;
    padding: 8px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 200px;
}

.two{
    background-color: white;
    padding: 8px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 200px;
}
.three{
    background-color: white;
    padding: 8px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 200px;
}
.four{
    background-color: white;
    padding: 8px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 200px;
}
.five{
    background-color: white;
    padding: 8px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 200px;
}
.six{
    background-color: white;
    padding: 8px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 200px;
}

footer{
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
